nav .flex-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav .flex-ul a{
    text-decoration: none;
}
nav .flex-ul li{
    
    list-style-type: none;
    color: black;
}

nav .flex-ul li:hover{
    color: red;
}
