.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Header-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 22%;
}

.center-botton{
   position: absolute;
   bottom: 10%;

}
.button-smart-watch{
    color: #000;
    text-decoration: none;
    border: 2px solid;
    border-radius: 0.25rem; /* Esto es equivalente a "rounded" en Tailwind */
    font-weight: 500; /* Esto es equivalente a "font-medium" en Tailwind */
    padding: 0.5rem 1.5rem; /* Esto es equivalente a "px-6 py-2" en Tailwind */
    display: inline-block; /* Esto es equivalente a "inline-block" en Tailwind */
    transition-property: background-color, color;
    transition-duration: 0.3s;
}
.button-smart-watch:hover{
    background-color: #000;
    color: #fff;
}
.h2-watch{
    padding: 1rem 0;
}
.txt{
    width: 600px;
    line-height: 1.5rem;
}



