
.center{
  display: flex;
  align-items: center;

  
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #6a6a6a 1px solid;
  border-radius: 3rem;
  overflow: hidden;
  width: 190px;
  height: 40px;
  margin-top: 1rem;
  
  }
 
  .button {
   
    background: transparent;
    color: #6a6a6a;
    margin: 0 50px;
    
    
  }
  .button p {
  
    font-size: 2rem;
  }
  

  
  
  
 