
.center{
  display: flex;
  align-items: center;

  flex-direction: column;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #6a6a6a 1px solid;
  border-radius: 3rem;
  overflow: hidden;
  width: 120px;
  height: 40px;
  
  
  }
 
  .button {
   
    background: transparent;
    color: #6a6a6a;
    margin: 0 20px;
    
    
  }
  .button p {
  
    font-size: 2rem;
  }
  

  
  
  
 