


.navbar {
    background: transparent;
    /* background-size: 400% 400%;
  position: relative; */
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; /* Centrar los elementos li horizontalmente */
    flex-grow: 1; /* Ocupar todo el espacio restante en la barra de navegación */
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav-links a:hover {
    border-bottom: 2px solid #000;
}

.Sign-Up{
    display: flex;
    align-items: center;
}
.Sign-Up  li{
    list-style-type: none;
    margin-right: 10px;
}

.Sign-Up  a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.Sign-Up a:hover{
    border-bottom: 2px solid #000;
}
.logo{
    width: 200px;
    
}