


.navbar {
    background: transparent;
   
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; 
    flex-grow: 1; 
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
}



.Sign-Up{
    display: flex;
    align-items: center;
}
.Sign-Up  li{
    list-style-type: none;
    margin-right: 10px;
}

.Sign-Up  a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.Sign-Up a:hover{
    border-bottom: 2px solid #fff;
}
.logo{
    width: 200px;
    
}


