.center-details{
    display: flex;
    justify-content: center;
}
.product-card {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 2rem;
    width: 70%;
    height: 500px;
  }
  
  .product-image {
    flex: 1;
    margin-right: 16px;
  }
  
  .product-details {
    flex: 2;
  }
  
  .img-details {
    max-width: 100%;
    height: auto;
  }
  
  .name-details {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .price-details {
    font-size: 1.7rem;
    font-weight: bold;
    
  }
  h3{
    margin-top: 1rem;
  }
  .list-specificaion{
    margin-top: 2rem;
  }
  
  .description-details {
    margin-top: 8px;
    font-size: 1rem;
  }
  
  .stock-details {
    margin-top: 8px;
    font-size: 1rem;
  }
  .button-container{
    display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
  
  padding: 16px; /* Añadir espacio interno */
  height: 100%; /* Ocupar todo el alto */
  }
  .button-card {
    flex: 1;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
   
  }
  .buy-button {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  .buy-button:hover {
    background-color: #444;
  }
  .descuento-details{
    margin-top: 1rem;
    border: 1px solid #ddd;
    border-radius: 12px;
    height: 2rem;

  }
  b{
    color: green;
  }
  
.dicount-button{
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}
.dicount-button:hover{
    background-color: #777;
}